<div class="home-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <ul class="nav nav-pills outline-active">
                    <li class="nav-item nav-item-2">
                        <a class="nav-link" [ngClass]="{'active': listConfig.type === 'all'}" (click)="setListTo('all')">Discover</a>
                    </li>
                </ul>
                <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
            </div>
        </div>
    </div>
</div>