<div class="home-page">
    <div class="col-md-6 offset-md-3 col-xs-12">
        <app-editor-page *appShowAuthed="true"></app-editor-page>
    </div>

    <div class="container page timeline">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12" *appShowAuthed="true">
                <div class="text-xs-center">
                    Your Timeline
                </div>
                <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
            </div>
            <div class="col-md-6 offset-md-3 col-xs-12" *appShowAuthed="false">
                <div class="text-xs-center">
                    <div>Login to post tweets, follow other people and view your timeline</div>
                    <div><a class="nav-link" routerLink="/discover">Discover</a> interesting people you can follow</div>
                </div>
            </div>
        </div>
    </div>
</div>